@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins Medium", serif;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    display: none;
}

body {
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

/*-----------------------NavBar---------------------*/

nav{
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

nav .nav-container{
    width: 80%;
    margin: 0 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav-container .logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo-link {
    text-decoration: none; /* Removes underline from text */
    display: block;
}

.logo-link img {
    display: block;
}


.nav-container .logo img{
    height: 3rem;
}

.nav-container .logo h1{
    color: black;
    margin-left: 0.5rem;
    font-family: "Roboto Slab", "serif";
}

.nav-container .links{
    display: flex;
}

.links a{
    position: relative;
    color: black;
    margin: 0 20px;
    text-decoration: none;
    font-size: 1.3rem;
}

.active-link a{
    position: relative;
    color: #E35451;
    margin: 0 20px;
    text-decoration: none;
    font-size: 1.3rem;
}

.links a::before{
    content: "";
    position: absolute;
    bottom: -4px;
    height: 3px;
    width: 0;
    border-radius: 20px;
    background-color: #E35451;
    transition: 0.2s;
}

.links a:hover::before{
    width: 100%;
}

nav i{
    position: absolute;
    font-size: 2rem;
    right: 20px;
    color: black;

}

nav .menu i{
    top: 35px;
    display: none;
}

nav .cancel i{
    top: 8px;
}

nav i:hover{
    filter: drop-shadow(0 0 20px white);
}

.dropdown{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    backdrop-filter: blur(5px);
    transition: 0.8s;
    transform: translateY(-450px);
}

.dropdown .dropdown-links{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.dropdown .dropdown-links a{
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    padding: 10px 0;
    color: black;
    text-decoration: none;
    transition: 0.2s linear;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.dropdown a:hover{
    background-color: #E35451;
}

/*----------------------------------INTRO--------------------------------*/

.intro{
    width: 100%;
    height: auto;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("/static/images/intro/intro-placeholder.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

.intro h1{
    font-size: clamp(2rem, 1rem + 6vw, 5rem);
    font-weight: 600;
    font-family: "Montserrat", serif;
    margin: -10px 0 -10px 0;
}

.intro .highlight{
    color: #E35451;
}

.intro p{
    font-size: clamp(0.6rem, 0.1rem + 1.7vw, 1.2rem);
    font-family: "Montserrat", serif;
}

.intro i{
    font-size: clamp(1.1rem, 0.2rem + 2vw, 2rem);
    transition: 0.2s linear;
}

.intro .intro-button{
    background: none;
    color: white;
}

.intro .intro-button-1{
    background: none;
    color: white;
}

.intro .intro-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 9rem 0;
}

.intro .intro-button-container {
    display: flex;
    align-items: center;
    margin-top: 0;
}

.intro .intro-button-container .intro-button{
    display: flex;
    align-items: center;
    border: 3px solid white;
    border-radius: 50px;
    padding: 1rem 1.3rem 1.1rem 1.5rem;
    margin: 0 20px 0 20px;
    cursor: pointer;
    transition: 0.1s;
}

.intro .intro-button-container .intro-button-1{
    display: flex;
    align-items: center;
    border: 3px solid #E35451;
    border-radius: 50px;
    padding: 1rem 1.3rem 1.1rem 1.5rem;
    margin: 0 20px 0 20px;
    cursor: pointer;
    background-color: #E35451;
    transition: 0.1s;
}

.intro .intro-button-container .intro-button:hover{
    scale: 1.1;
}

.intro .intro-button-container .intro-button-1:hover{
    scale: 1.1;
}

.intro .intro-button-container .intro-button-1 i{
    padding-left: 10px;
    font-size: 1.5rem;
}

.intro .intro-button-container .intro-button i{
    padding-left: 10px;
    font-size: 1.5rem;
}

/*----------------------------------content--------------------------------*/

.content-block {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    margin-top: 30px;
}

.content-block .heading {
    padding: 0 7% 0 7%;
    text-align: center;
    color: #1F84C6;
    line-height: 8rem;
    font-size: clamp(1.5rem, 0.7rem + 3vw, 2rem);
    margin-bottom: 30px;
}

.content-block h1{
    border-bottom: 2px solid #E35451;
    font-family: "Montserrat", "serif";
}

.content-block p {
    width: 100%;
    text-align: center;
    color: #4a4a4a;
    font-size: clamp(0.6rem, 0.3rem + 1.5vw, 1.1rem);
    font-weight: 500;
    font-family: "Montserrat", "serif";
}

.content-block .content{
    width: 100%;
    padding: 0 15% 0 15%;
}

.content-block .split-container{
    display: flex;
    justify-content: space-between;
}

/*----------------------------------contact--------------------------------*/

.contact-info h2{
    text-align: center;
    margin: 10px;
    color: #1F84C6;
    border-bottom: solid 1px #E35451;

}

.contact-form {

    padding: 20px;
    width: 50%;
    text-align: center;
    margin-bottom: 40px;

}


.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    transition: border-color 0.3s ease;
    resize: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #9c9c9c;
    outline: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #999;
}

.contact-form .error {
    color: #E35451;
    font-size: 14px;
    text-align: center;
    padding-bottom: 20px;
}

.contact-form .success {
    color: #118a06;
    font-size: 14px;
    text-align: center;
    padding-bottom: 20px;
}

.contact-form button {
    width: 40%;
    padding: 10px;
    background-color: #1F84C6;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;

}

.contact-form button:hover {
    background-color: #0056b3;
}



/*----------------------------------services--------------------------------*/
.service-split-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

.curved-container {
    margin: 5vw; /* Use viewport width units for margin */
    width: 18vw; /* Proportional width to the viewport */
    height: 24vw; /* Proportional height to the viewport */
    border-radius: 2vw; /* Proportional border radius */
    position: relative;
    box-shadow: 0 0 1.5vw rgba(0, 0, 0, 0.6); /* Proportional shadow */
    display: inline-block; /* Ensures inline behavior while maintaining block-level controls */
    text-align: center;
    padding: 2vw; /* Proportional padding */
}

.curved-container img {
    width: 100%; /* The image will remain responsive to the container */
    border-radius: 1vw; /* Proportional border radius for the image */
}

.curved-container h2 {
    margin: 0;
    padding-bottom: 1vw;
    padding-top: 1vw;
    font-weight: bold;
    color: #1F84C6;
    font-size: 1.5vw; /* Proportional font size */
}

.curved-container p {
    font-size: clamp(0.5vw, 0.6vw + 0.2rem, 0.7vw); /* Keep font size proportional and responsive */
}

.curved-container a {
    color: #E35451;
    cursor: pointer;
    position: absolute;
    bottom: 2vw; /* Proportional bottom spacing */
    left: 50%;
    transform: translateX(-50%);
}

.curved-container i {
    transition: background-color 0.5s ease, transform 0.3s ease;
}

.curved-container a:hover i {
    transform: translateX(+50%);
}

/*----------------------------------wattage calculator--------------------------------*/

/* Form Container for Single Room and Whole House Calculators */
.calculator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px;
}

/* Form Titles */
.calculator-container h2 {
    text-align: center;
    margin: 10px;
    color: #1F84C6;
    border-bottom: solid 1px #E35451;
    padding-bottom: 10px;
}

/* General Form Style */
.calculator-single,
.calculator-house {
    padding: 20px;
    width: 50%;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    opacity: 0; /* Start invisible */
    display: none; /* Initially hidden */
    transition: opacity 0.5s ease; /* Transition effect for opacity */
}

/* Show form */
.calculator-single.show,
.calculator-house.show {
    display: block; /* Display block when shown */
    opacity: 1; /* Fully visible */
}

/* Inputs and Selects Styling */
.calculator-single input,
.calculator-house input,
.calculator-single select,
.calculator-house select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

/* Focus State for Inputs and Selects */
.calculator-single input:focus,
.calculator-house input:focus,
.calculator-single select:focus,
.calculator-house select:focus {
    border-color: #9c9c9c;
    outline: none;
}

/* Placeholder Styling */
.calculator-single input::placeholder,
.calculator-house input::placeholder,
.calculator-single select::placeholder,
.calculator-house select::placeholder {
    color: #999; /* Placeholder color */
}

/* Style for Select Elements to Share Placeholder Color */
.calculator-single select,
.calculator-house select {
    color: #999; /* Text color to match placeholder */
    margin-right: 20px; /* Right margin for dropdown arrows */
}

/* Error and Success Messages */
.calculator-single .error,
.calculator-house .error {
    color: #E35451;
    font-size: 14px;
    text-align: center;
    padding-bottom: 20px;
}

.calculator-single .success,
.calculator-house .success {
    color: #118a06;
    font-size: 14px;
    text-align: center;
    padding-bottom: 20px;
}

/* Button Styling */
.calculator-single button,
.calculator-house button,
.button-selected,
.button-unselected {
    width: 100%; /* Full width for buttons */
    padding: 10px;
    border-radius: 25px; /* Rounded corners */
    font-size: 16px; /* Same text size */
    transition: background-color 0.3s ease;
    border: 2px solid #ccc; /* Border to match input fields */
    cursor: pointer;
    color: #999999;
}

/* Default Button Style */
.button-unselected {
    background-color: #f9f9f9; /* Same style as input boxes */
    color: #999; /* Same color as placeholder text */
}

/* Selected Button Style */
.button-selected {
    background-color: #1F84C6; /* Blue for selected button */
    color: white; /* White text for selected button */
}

/* Hover State for Buttons */
.calculator-single button:hover,
.calculator-house button:hover {
    background-color: #0056b3; /* Hover effect */
    color: white;
}

.button-container {
    display: flex; /* Use Flexbox for layout */
    justify-content: center; /* Center the buttons */
    margin-bottom: 20px; /* Add space below the buttons */
}

/* Button Styling Adjustments */
.button-container button {
    margin: 0 10px; /* Add horizontal margin between buttons */
    width: 10rem;
}



* Input and Selects Styling
.calculator-single input,
.calculator-house input,
.calculator-single select,
.calculator-house select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    transition: border-color 0.3s ease;
    color: black; /* Default text color for inputs */
}

/* Focus State for Inputs and Selects */
.calculator-single input:focus,
.calculator-house input:focus,
.calculator-single select:focus,
.calculator-house select:focus {
    border-color: #9c9c9c;
    outline: none;
    color: black; /* Text color when focused */
}

/* Placeholder Styling */
.calculator-single input::placeholder,
.calculator-house input::placeholder,
.calculator-single select::placeholder,
.calculator-house select::placeholder {
    color: #999; /* Placeholder color */
}

/* Change text color on input */
.calculator-single input:valid,
.calculator-house input:valid,
.calculator-single select:valid,
.calculator-house select:valid {
    color: black; /* Text color for valid inputs */
}

/*----------------------------------LOGO SCROLLER--------------------------------*/

@keyframes slide {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.logo-section {
    height: 60vh;
}

.logo-section .heading {
    padding: 0 7% 0 7%;
    text-align: center;
    color: #1F84C6;
    line-height: 8rem;
    font-size: clamp(1.5rem, 0.7rem + 3vw, 2rem);
    margin-bottom: 10px;
}

.logo-section h1{
    border-bottom: 2px solid #E35451;
    font-family: "Montserrat", "serif";
}

.logos {
    overflow: hidden;
    padding: 60px 0;
    background: white;
    white-space: nowrap;
    position: relative;
    margin: 7% 7%;
    height: 20vh;
}

.logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:before, .logos:after{
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos-slide {
    display: inline-block;
    animation: 20s slide infinite linear;
}

.logos-slide img{
    height: 100px;
    margin: 0 50px;
}

/*-----------------------Footer---------------------*/

.footer {
    width: 100%;
    height: 20vh;
    background-color: #4a4a4a;
}

/*-----------------------Embed---------------------*/


.outer-video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.hidden {
  display: none;
}

.video-container {
    text-align: center;
    position: relative;
    width: 60%;
    max-width: 800px;
}

#close-btn {
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}


/*----------------------------------spacing--------------------------------*/

.spacing{
    width: 100%;
    height: 10vh;
}

.large-spacing{
    width: 100%;
    height: 20vh;
}

.contact-form .loading {
    cursor: wait;
    background-color: #0056b3;
}

/*----------------------------------RESIZING--------------------------------*/





@media (width < 870px) {


    .intro .intro-button-container {
        display: none;
    }

}

@media (width < 1050px){
    nav .menu i {
        display: flex;
    }

    .nav-container .links {
        display: none;
    }

    .logos:before, .logos:after{
        width: 50px;
    }

    .content-block .split-container{
        display: inline;
        justify-content: space-between;
    }

    .content-block .contact-form{
        width: auto;
    }

    .service-split-container {
        display: block;
        text-align: center;
    }
}

@media (width < 1500px){
    .intro .intro-container {
        display: inline;
        justify-content: center;
    }

    .intro h1{
        text-align: center;
    }

    .intro .intro-button-container {
        justify-content: center;
        margin-top: 2rem;
    }





    .curved-container {
        width: 45vw; /* Adjust the width relative to the viewport for smaller screens */
        height: 44vw; /* Adjust the height proportionally */
    }

    .curved-container img {
        width: 100%;
    }

    .curved-container h2{
        font-size: 3vw; /* Larger font size for smaller screens */
    }

    .curved-container a {
        bottom: 1vw; /* Proportional bottom spacing for smaller screens */
        margin-bottom: 30px;
    }
    .curved-container p {
        display: none;
    }

    .large-spacing{
        height: 200vh;
    }

}

@media (width < 700px){
    .curved-container {
        width: 50vw; /* Adjust the width relative to the viewport for smaller screens */
        height: 50vw; /* Adjust the height proportionally */
        margin: 3vw;
    }

    .large-spacing{
        height: 100vh;
    }
}

@media (width < 600px){

    .logos-slide img{
        height: 90px;
        margin: 0 60px;
    }

    .curved-container {
        width: 45vw; /* Adjust the width relative to the viewport for smaller screens */
        height: 55vw; /* Adjust the height proportionally */
    }

}

@media (width < 500px) {



    .logo-section{
        height: 70vh;
    }

    .curved-container {
        width: 45vw; /* Adjust the width relative to the viewport for smaller screens */
        height: 60vw; /* Adjust the height proportionally */
    }

    .logos{
        height: 200px;
    }
}



@media (width < 390px) {


}

@media (width < 300px) {

    .logo h1{
        display: none;
    }

}

@media (height < 800px) and (height > 650px) {




    .logos-slide img{
        height: 90px;
        margin: 0 60px;
    }

    .spacing{
        height: 30vh;
    }

    .large-spacing{
        width: 100%;
        height: 50vh;
    }
}

@media (height < 650px) and (height > 500px) {




    .logo-section{
        height: 80vh;
    }

    .logos-slide img{
        height: 60px;
        margin: 0 50px;
    }

    .spacing{
        height: 30vh;
    }

    .large-spacing{
        width: 100%;
        height: 50vh;
    }
}

@media (height < 500px) and (height > 400px) {
    .intro .intro-button-container{
        display: none;
    }

    .intro h1 {
        font-size: 60px;
    }


    .logo-section{
        height: 100vh;
    }

    .logos-slide img{
        height: 60px;
        margin: 0 50px;
    }

        .spacing{
        height: 40vh;
    }

    .large-spacing{
        width: 100%;
        height: 50vh;
    }
}

@media (height < 400px)
{

        .intro {
            height: 80vh;
        }

        .intro .intro-button-container{
            display: none;
        }

        .intro h1 {
            font-size: 30px;

        }

        .intro-text {
            margin-top: 100px;
        }



        .logo-section{
            height: 120vh;
        }

        .logos-slide img{
            height: 60px;
            margin: 0 50px;
        }

        .spacing{
            height: 50vh;
        }

        .large-spacing{
            width: 100%;
            height: 50vh;
        }
}
