{% extends "base.html" %}
{% block content %}
    <section class="intro">
        <div class="intro-container" style="display: inline-flex; flex-direction: column">
            <div class="intro-text" >
               <h1>About Us</h1>
            </div>
            <br><br><br>
            <div class="intro-text" >
                <p style="font-weight: 500;">
                    AC Dynamics, founded in ____, has been serving our customers for many years. We owe our continued success
                    to our core values and dedication to customer satisfaction. We’re grateful for the trust our clients place
                    in us and remain committed to providing reliable service and support.
                </p>
            </div>


        </div>
    </section>
     <section class="content-block" style="padding: 50px 0 25px 0">


         <div class="content-block" style="padding-top: 0">
            <div class="heading">
                <h1 style="font-size: 3rem">Company Policy</h1>
            </div>
        </div>

        <div class ="content" style="margin-bottom: 2rem">
            <div class="checklist" style="padding: 0 10%">
                <h1 style="text-align: center; width: auto" >
                    Health and safety – Site Safe, health and safety vision, high risk.
                </h1>

            </div>
        </div>


        <div class="content-block" style="padding-top: 0">
            <div class="heading">
                <h1 style="font-size: 3rem">Our Vision</h1>
            </div>
        </div>

        <div class ="content" style="margin-bottom: 2rem">
            <div class="checklist" style="padding: 0 10%">
                <h1 style="text-align: center; width: auto" >
                    As a company and team who take pride in their work and value team culture,
                    we believe in treating our clients like family and building long-term relationships with each one.
                    <br><br>
                    Keeping to our core values enables us to provide a superior service by
                    Providing a safe work environment and
                    ensuring the best service and products that deliver the most value to our customers, applying our knowledge to inspire and implement green solutions.
                </h1>

            </div>
        </div>

        <div class="content-block" style="padding-top: 0">
            <div class="heading">
                <h1 style="font-size: 3rem">Meet The Team</h1>
            </div>
        </div>

        <div class ="content" style="margin-bottom: 2rem">
            <div class="checklist" style="padding: 0 10%">
                <h1 style="text-align: center; width: auto" >
                    <strong>I'm Jon Laheney, the owner of AC Dynamics.</strong>
                    <br><br>
                    I have been working in the industry for over 20 years with extensive experience in the Heating,
                    Ventilation, Air Conditioning, and Refrigeration industry.
                    <br><br>
                    I started my trade in the Navy as a Marine Engineer Mechanic, servicing and maintaining industrial
                    marine-grade refrigeration systems of all ages, shapes, and sizes. I progressed through the ranks
                    until it was time to leave and advance my career on land.
                    <br><br>
                    Travelling around the UK’s major cities and working in hospitals, office high-rises, banks,
                    supermarkets, data centres, factories, aquariums, universities, government and military facilities,
                    with the occasional historical buildings to name but a few, I gained a wealth of knowledge and experience
                    in installing and servicing various refrigeration plants and HVAC systems.
                    <br><br>
                    After visiting New Zealand, I fell in love with the place and moved here. I’ve been here ever since.

                    Having gained extensive experience in air conditioning, I was able to establish a solid foundation to build AC Dynamics.
                </h1>




            </div>

            <div class="big-button" style="box-shadow: none">
                <p><strong>Updates Coming Soon...</strong></p>
            </div>
        </div>

     </section>




    <script src="/static/scripts/about.js"></script>
{% endblock %}



