{% extends "base.html" %}
{% block content %}
    <section class="content-block">
        <div class="heading">
            <h1>About Us</h1>
        </div>
        <div class="content">
            <p>
                AC Dynamics, founded in ____, has been serving our customers for many years. We owe our continued success
                to our core values and dedication to customer satisfaction. We’re grateful for the trust our clients place
                in us and remain committed to providing reliable service and support.
            </p>
        </div>

        <div class="content">
                <img class="content-image" src="/static/images/services/domestic-heatpump.png" alt="about">
            <p>(make this a slideshow thing)</p>
        </div>



    </section>

    <script src="/static/scripts/about.js"></script>
{% endblock %}



