{% extends "base.html" %}
{% block content %}
    <section class="intro">
        <div class="intro-container" style="display: inline-flex; flex-direction: column">
            <div class="intro-text" >
               <h1>About Us</h1>
            </div>
            <br><br><br>
            <div class="intro-text" >
                <p style="font-weight: 500;">
                    AC Dynamics, founded in ____, has been serving our customers for many years. We owe our continued success
                    to our core values and dedication to customer satisfaction. We’re grateful for the trust our clients place
                    in us and remain committed to providing reliable service and support.
                </p>
            </div>


        </div>
    </section>
     <section class="content-block" style="padding: 50px 0 25px 0">
        <div class="heading" >
            <h1 style="border-bottom: 5px solid #E35451; border-radius: 50px"></h1>
        </div>
     </section>
    <section class="content-block">
        <div class="slider-wrapper">
            <div class="slider">
                <img id="slide-1" src="/static/images/services/heatpump_image_1.jpg" alt="image1">
                <img id="slide-2" src="/static/images/services/industrial-heatpump-resize.png" alt="image2">
                <img id="slide-3" src="/static/images/services/domestic-heatpump.png" alt="image3">
            </div>
            <div class="slider-nav">
                <a href="#slide-1"></a>
                <a href="#slide-2"></a>
                <a href="#slide-3"></a>
            </div>
        </div>
    </section>

    <section class="content-block">

    </section>

    <script src="/static/scripts/about.js"></script>
{% endblock %}



