<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/logo/logo.png" type="image/png">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/5115542834.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <title>AC Dynamics | Home</title>
</head>
<body>
    <nav>

        <button id="scrollToTopBtn" title="Back to top">
            <i class="fa-solid fa-angle-up"></i>
        </button>

        <div class="nav-container">
            <a href="/" class="logo-link">
                <div class="logo">
                    <img src="/static/images/logo/logo.png" alt="logo">
                    <h1>AC DYNAMICS</h1>
                </div>
            </a>
            <div class="links" >
                <div class="link linkx"  ><a id="home" href="/">HOME</a></div>
                <div class="link dropdown-link" >
                    <a id="services" href="/services">SERVICES<i class='bx bx-chevron-down'></i></a>
                    <div class="dropdown-menu">
                        <a href="/commercial">Commercial</a>
                        <a href="/service2">Industrial</a>
                        <a href="/maintenance">Service & Maintenance</a>
                        <a href="/service3">Residential</a>
                    </div>
                </div>
                <div class="link linkx" ><a id="about" href="/about">ABOUT US</a></div>

                <div class="link linkx" ><a id="contact" href="/contact">CONTACT</a></div>
            </div>
        </div>
        <div class="menu">
            <i class="fa-solid fa-bars hamburg"></i>
        </div>

        <div class="dropdown">
            <div class="dropdown-links">
                <a href="/">HOME</a>
                <a href="/services">SERVICES</a>
                <a href="/about">ABOUT US</a>
                <a href="/contact">CONTACT US</a>
                <div class="cancel">
                   <i class="fa-solid fa-xmark cancel"></i>
                </div>

            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

    <footer class="footer">

    </footer>

    <script>
        const hamburg = document.querySelector(".hamburg")
        const cancel = document.querySelector(".cancel")
        const navbar = document.querySelector(".dropdown")

        hamburg.addEventListener("click", ()=>{
            navbar.style.transform = "translateY(0px)"
        })

        cancel.addEventListener("click", ()=>{
            navbar.style.transform = "translateY(-450px)"
        })
    </script>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="/static/scripts/scrollup.js"></script>
    <script>
        AOS.init({
            once:true
        });
    </script>

</body>
</html>