{% extends "base.html" %}
{% block content %}

    <section class="intro">
        <div class="intro-container" style="display: inline-flex; flex-direction: column">
            <div class="intro-text" >
               <h1>Commercial Air Conditioning</h1>
            </div>
            <br><br><br>
            <div class="intro-text" >
                <p style="font-weight: 500;">
                    Our knowledge and experience allows us to
                    take care of your system and provide you with the reporting and information you need to keep your
                    building healthy and operational.
                </p>
            </div>


        </div>
    </section>

     <section class="content-block" style="padding: 50px 0 25px 0">
        <div class="heading" >
            <h1 style="border-bottom: 5px solid #E35451; border-radius: 50px"></h1>
        </div>
     </section>

    <section class="content-block" style="padding: 0">
                <div class="service-split-container">

            <div class="curved-container">
                <img src="/static/images/services/office_image.jpg" alt="domestic">
                <h2>Office buildings</h2>
                <a id="office-building" >Find out more <i class="fa-solid fa-arrow-right"></i></a>
            </div>

            <div class="curved-container" >
                <img src="/static/images/services/hospital-image.jpg" alt="domestic">
                <h2>Healthcare</h2>
                <a id="healthcare" >Find out more <i class="fa-solid fa-arrow-right"></i></a>
            </div>

            <div class="curved-container">
                <img src="/static/images/services/data-image.jpg" alt="domestic">
                <h2>Data Centres</h2>
                <a id="data-centre" >Find out more <i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="curved-container">
                <img src="/static/images/services/warehouse-image.jpg" alt="domestic">
                <h2>Warehouses/Storage</h2>
                <a id="warehouse" >Find out more <i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="curved-container" >
                <img src="/static/images/services/substation-image.jpg" alt="domestic">
                <h2>high voltage substations</h2>
                <a id="substation" >Find out more <i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="curved-container">
                <img src="/static/images/services/workshop-image.jpg" alt="domestic">
                <h2>Workshops</h2>
                <a id="workshop" >Find out more <i class="fa-solid fa-arrow-right"></i></a>
            </div>
        </div>
    </section>

     <section class="content-block" style="padding: 50px 0 25px 0">
        <div class="heading" >
            <h1 style="border-bottom: 5px solid #E35451; border-radius: 50px"></h1>
        </div>
     </section>

    <section class="sector-section" id="Office-Sector">
        <div class="image-container">
            <img src="/static/images/services/office_image.jpg" alt="Section Image">
        </div>
        <div class="header">Office Buildings</div>
        <div class="separator"></div>
        <div class="text">AC Dynamics offers superior service and maintenance for any sort of office building.
            Rest easy knowing your offices HVAC systems are up to date and running at peak efficiency.</div>
        <a href="/contact" >Contact Us <i class="fa-solid fa-arrow-right"></i></a>
    </section>

    <section class="sector-section" id="Healthcare-Sector">
        <div class="image-container">
            <img src="/static/images/services/hospital-image.jpg" alt="Section Image">
        </div>
        <div class="header">Healthcare Sectors</div>
        <div class="separator"></div>
        <div class="text">Placeholder Text</div>
        <a href="/contact" >Contact Us <i class="fa-solid fa-arrow-right"></i></a>
    </section>

    <section class="sector-section" id="Data-Sector">
        <div class="image-container">
            <img src="/static/images/services/data-image.jpg" alt="Section Image">
        </div>
        <div class="header">Data Centres</div>
        <div class="separator"></div>
        <div class="text">Placeholder Text</div>
        <a href="/contact" >Contact Us <i class="fa-solid fa-arrow-right"></i></a>
    </section>

    <section class="sector-section" id="Warehouses-Sector">
        <div class="image-container">
            <img src="/static/images/services/warehouse-image.jpg" alt="Section Image">
        </div>
        <div class="header">Warehouses / Storage Facilities</div>
        <div class="separator"></div>
        <div class="text">Placeholder Text</div>
        <a href="/contact" >Contact Us <i class="fa-solid fa-arrow-right"></i></a>
    </section>

    <section class="sector-section" id="Substation-Sector">
        <div class="image-container">
            <img src="/static/images/services/substation-image.jpg" alt="Section Image">
        </div>
        <div class="header">High Voltage Substations</div>
        <div class="separator"></div>
        <div class="text">Placeholder Text</div>
        <a href="/contact" >Contact Us <i class="fa-solid fa-arrow-right"></i></a>
    </section>

    <section class="sector-section" id="Workshop-Sector">
        <div class="image-container">
            <img src="/static/images/services/workshop-image.jpg" alt="Section Image">
        </div>
        <div class="header">Workshops</div>
        <div class="separator"></div>
        <div class="text">Placeholder Text</div>
        <a href="/contact" >Contact Us <i class="fa-solid fa-arrow-right"></i></a>
    </section>


    <script src="/static/scripts/services.js"></script>
    <script src="/static/scripts/ScrollToSection.js"></script>


{% endblock %}



