{% extends "base.html" %}
{% block content %}

    <section class="intro">
        <div class="intro-container" style="display: inline-flex; flex-direction: column">
            <div class="intro-text" >
               <h1>Commercial air conditioning</h1>
            </div>
            <br><br><br>
            <div class="intro-text" >
                <p style="font-weight: 500;">
                    Our knowledge and experience allows us to
                    take care of your system and provide you with the reporting and information you need to keep your
                    building healthy and operational.
                </p>
            </div>


        </div>
    </section>

     <section class="content-block" style="padding: 50px 0 25px 0">
        <div class="heading" >
            <h1 style="border-bottom: 5px solid #E35451; border-radius: 50px"></h1>
        </div>
     </section>

    <section class="content-block" style="padding: 0">

    </section>
                    <div class="service-split-container">

                <div class="curved-container">
                    <img src="/static/images/services/domestic-heatpump.png" alt="domestic">
                    <h2>Office buildings</h2>
                    <a id="domestic-pump" >Find out more <i class="fa-solid fa-arrow-right"></i></a>
                </div>

                <div class="curved-container" >
                    <img src="/static/images/services/domestic-heatpump.png" alt="domestic">
                    <h2>Healthcare</h2>
                    <a id="industrial-pump" >Find out more <i class="fa-solid fa-arrow-right"></i></a>
                </div>

                <div class="curved-container">
                    <img src="/static/images/services/domestic-heatpump.png" alt="domestic">
                    <h2>Data Centres</h2>
                    <a href="/maintenance" id="service-maintenance" >Find out more <i class="fa-solid fa-arrow-right"></i></a>
                </div>
                <div class="curved-container">
                    <img src="/static/images/services/domestic-heatpump.png" alt="domestic">
                    <h2>Warehouses/Storage</h2>
                    <a href="/maintenance" id="service-maintenance" >Find out more <i class="fa-solid fa-arrow-right"></i></a>
                </div>
                <div class="curved-container" >
                    <img src="/static/images/services/domestic-heatpump.png" alt="domestic">
                    <h2>high voltage substations</h2>
                    <a href="/maintenance" id="service-maintenance" >Find out more <i class="fa-solid fa-arrow-right"></i></a>
                </div>
                <div class="curved-container">
                    <img src="/static/images/services/domestic-heatpump.png" alt="domestic">
                    <h2>Workshops</h2>
                    <a href="/maintenance" id="service-maintenance" >Find out more <i class="fa-solid fa-arrow-right"></i></a>
                </div>

            </div>
        </div>
    <script src="/static/scripts/services.js"></script>


{% endblock %}



