{% extends "base.html" %}
{% block content %}

    <section class="intro">
        <div class="intro-container" style="display: inline-flex; flex-direction: column">
            <div class="intro-text" >
               <h1>Commercial Air Conditioning</h1>
            </div>
            <br><br><br>
            <div class="intro-text" >
                <p style="font-weight: 500;">
                    Our knowledge and experience allows us to
                    take care of your system and provide you with the reporting and information you need to keep your
                    building healthy and operational.
                </p>
            </div>


        </div>
    </section>



    <div class="content-block" style="padding-top: 1rem">
        <div class="heading">
            <h1>Our Sectors</h1>
        </div>
    </div>

    <section class="content-block" style="padding: 0">
                <div class="service-split-container">

            <div class="curved-container">
                <img src="/static/images/services/office_image.jpg" alt="domestic">
                <h2>Office buildings</h2>
                <a id="office-building" >Find out more <i class="fa-solid fa-arrow-right"></i></a>
            </div>

            <div class="curved-container" >
                <img src="/static/images/services/hospital-image.jpg" alt="domestic">
                <h2>Healthcare</h2>
                <a id="healthcare" >Find out more <i class="fa-solid fa-arrow-right"></i></a>
            </div>

            <div class="curved-container">
                <img src="/static/images/services/data-image.jpg" alt="domestic">
                <h2>Data Centres</h2>
                <a id="data-centre" >Find out more <i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="curved-container">
                <img src="/static/images/services/warehouse-image.jpg" alt="domestic">
                <h2>Warehouses/Storage</h2>
                <a id="warehouse" >Find out more <i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="curved-container" >
                <img src="/static/images/services/substation-image.jpg" alt="domestic">
                <h2>high voltage substations</h2>
                <a id="substation" >Find out more <i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="curved-container">
                <img src="/static/images/services/workshop-image.jpg" alt="domestic">
                <h2>Workshops</h2>
                <a id="workshop" >Find out more <i class="fa-solid fa-arrow-right"></i></a>
            </div>
        </div>
    </section>

    <div class="content-block" style="padding-top: 0">
        <div class="heading">
            <h1 style="font-size: 3rem">Our HVAC Maintenance Capabilities</h1>
        </div>
    </div>

    <div class="capabilities">
        <div class="capabilities-grid">
            <div class="capability"><div class="capa-box"><h3>Air Conditioning – VRF Systems</h3></div></div>
            <div class="capability"><div class="capa-box"><h3>Refrigeration – Chillers</h3></div></div>
            <div class="capability"><div class="capa-box"><h3>Ventilation – AHU</h3></div></div>
            <div class="capability"><div class="capa-box"><h3>Hydronic Systems – Chilled & Hot Water</h3></div></div>
            <div class="capability"><div class="capa-box"><h3>BWOF SS9 12A IQP Inspections & Certification</h3></div></div>
            <div class="capability"><div class="capa-box"><h3>Water Treatment</h3></div></div>
            <div class="capability"><div class="capa-box"><h3>Building Management Systems (BMS)</h3></div></div>
            <div class="capability"><div class="capa-box"><h3>Asset Tracking & Management</h3></div></div>
        </div>
    </div>

    <div class="content-block" style="padding-top: 0">
        <div class="heading">
            <h1 style="font-size: 3rem">Design Build/Installation</h1>
        </div>
    </div>

    <div class ="content" style="margin-bottom: 2rem">
        <div class="checklist" style="padding: 0 10%">
            <h1 style="text-align: center; width: auto" >
                We are a fully registered IQP company. With our service package, we ensure your equipment is operational and safe.
                <br><br>
                As part of our maintenance package, our IQP will ensure your maintenance checks are carried out correctly and provide thorough reporting.
            </h1>

        </div>
    </div>


    <div class="content-block" style="padding-top: 0">
        <div class="heading">
            <h1 style="font-size: 3rem">More About Our Sectors</h1>
        </div>
    </div>

    <section class="sector-section" id="Office-Sector">
        <div class="image-container">
            <img src="/static/images/services/office_image.jpg" alt="Section Image">
        </div>
        <div class="header">Office Buildings</div>
        <div class="separator"></div>
        <div class="text">AC Dynamics offers superior service and maintenance for any sort of office building.
            Rest easy knowing your offices HVAC systems are up to date and running at peak efficiency.</div>
        <a href="/contact" >Contact Us <i class="fa-solid fa-arrow-right"></i></a>
    </section>

    <section class="sector-section" id="Healthcare-Sector">
        <div class="image-container">
            <img src="/static/images/services/hospital-image.jpg" alt="Section Image">
        </div>
        <div class="header">Healthcare Sectors</div>
        <div class="separator"></div>
        <div class="text">Placeholder Text</div>
        <a href="/contact" >Contact Us <i class="fa-solid fa-arrow-right"></i></a>
    </section>

    <section class="sector-section" id="Data-Sector">
        <div class="image-container">
            <img src="/static/images/services/data-image.jpg" alt="Section Image">
        </div>
        <div class="header">Data Centres</div>
        <div class="separator"></div>
        <div class="text">Placeholder Text</div>
        <a href="/contact" >Contact Us <i class="fa-solid fa-arrow-right"></i></a>
    </section>

    <section class="sector-section" id="Warehouses-Sector">
        <div class="image-container">
            <img src="/static/images/services/warehouse-image.jpg" alt="Section Image">
        </div>
        <div class="header">Warehouses / Storage Facilities</div>
        <div class="separator"></div>
        <div class="text">Placeholder Text</div>
        <a href="/contact" >Contact Us <i class="fa-solid fa-arrow-right"></i></a>
    </section>

    <section class="sector-section" id="Substation-Sector">
        <div class="image-container">
            <img src="/static/images/services/substation-image.jpg" alt="Section Image">
        </div>
        <div class="header">High Voltage Substations</div>
        <div class="separator"></div>
        <div class="text">Placeholder Text</div>
        <a href="/contact" >Contact Us <i class="fa-solid fa-arrow-right"></i></a>
    </section>

    <section class="sector-section" id="Workshop-Sector">
        <div class="image-container">
            <img src="/static/images/services/workshop-image.jpg" alt="Section Image">
        </div>
        <div class="header">Workshops</div>
        <div class="separator"></div>
        <div class="text">Placeholder Text</div>
        <a href="/contact" >Contact Us <i class="fa-solid fa-arrow-right"></i></a>
    </section>


    <script src="/static/scripts/services.js"></script>
    <script src="/static/scripts/ScrollToSection.js"></script>


{% endblock %}



