{% extends "base.html" %}
{% block content %}



     <section class="content-block">
        <div class="heading">
            <h1>Contact Us</h1>
        </div>

         <div class="content">
             <p>To contact us for general enquiries,
                 please reach out via the form below or use the details provided.
                 We will be happy to assist you with any enquiries.</p>
             <br><br>
            <div class="split-container">
                <form id="contact-form" class="contact-form">
                    <input type="email" id="email" name="email" placeholder="Email" data-aos="fade-right" data-aos-duration="800" data-aos-delay="0"><br>

                    <input type="tel" id="phone" name="phone" placeholder="Phone Number" data-aos="fade-right" data-aos-duration="800" data-aos-delay="50"><br>

                    <input id="name" name="name" placeholder="Name" data-aos="fade-right" data-aos-duration="800" data-aos-delay="100"><br>

                    <textarea id="message" name="message" rows="5" placeholder="Message" data-aos="fade-right" data-aos-duration="800" data-aos-delay="150"></textarea><br>

                    <p id="error" class="error"></p>

                    <button type="button" id="submit-button" value="Submit" onclick="submit_entry()" data-aos="fade-right" data-aos-duration="800" data-aos-delay="200">Submit</button>
                </form>

                <div class="contact-info">
                    <h2 data-aos="fade-left" data-aos-duration="800" data-aos-delay="0">Contact Email</h2>
                    <p data-aos="fade-left" data-aos-duration="800" data-aos-delay="0">email@account.com</p>
                    <h2 data-aos="fade-left" data-aos-duration="800" data-aos-delay="50">Contact Phone Number</h2>
                    <p data-aos="fade-left" data-aos-duration="800" data-aos-delay="50">0800 0000 00</p>
                    <h2 data-aos="fade-left" data-aos-duration="800" data-aos-delay="150">Street Address</h2>
                    <p data-aos="fade-left" data-aos-duration="800" data-aos-delay="150">company address</p>
                </div>

            </div>

         </div>


    </section>
    <section class="spacing">

    </section>
    <section class="spacing">

    </section>
    <section class="spacing">

    </section>

    <script src="/static/scripts/contact.js"></script>
{% endblock %}



