{% extends "base.html" %}
{% block content %}

    <section class="intro">
        <div class="intro-container">
            <div class="intro-text" >
                <h1 data-aos="fade-right" data-aos-duration="800" data-aos-delay="0">Heating,</h1>
                <h1 data-aos="fade-right" data-aos-duration="800" data-aos-delay="100">Ventilation &</h1>
                <h1 data-aos="fade-right" data-aos-duration="800" data-aos-delay="200">Air Conditioning</h1>
                <h1 class="highlight" data-aos="fade-right" data-aos-duration="800" data-aos-delay="300">Services</h1>
            </div>
            <div class="intro-button-container" data-aos="fade-in" data-aos-duration="1800" data-aos-delay="100">
                <button class="intro-button-1">
                <p>Find Out More</p>
                <i class="fa-solid fa-circle-chevron-right"></i>
            </button>
            <button class="intro-button" id="show-video">
                <p>Why Choose Us?</p>
                <i class="fa-solid fa-circle-play"></i>
            </button>
            </div>


        </div>
    </section>

    <section class="content-block">
        <div class="heading">
            <h1>What We Do</h1>
        </div>

        <div class ="content" >
            <p data-aos="fade-up" data-aos-duration="800" data-aos-delay="0">
                At AC Dynamics, we provide expert Heating, Ventilation, and Air Conditioning (HVAC) services for both
                commercial and residential clients. Whether you're looking to maintain a comfortable home environment
                or ensure the smooth operation of a large commercial space, our team is dedicated to offering reliable,
                energy-efficient solutions tailored to your specific needs.
            </p>
            <br>
            <p data-aos="fade-up" data-aos-duration="800" data-aos-delay="50">
                Our services cover everything from installation to repairs. We handle full HVAC system installations,
                ensuring your system is optimized for performance and long-term efficiency. If you're facing any issues,
                our repair team responds quickly to restore your comfort and system functionality.
            </p>
            <br>
            <p data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                We also offer comprehensive maintenance services to keep your systems running smoothly throughout the
                year. Regular maintenance helps extend the life of your equipment and avoid unexpected breakdowns. For
                those looking to reduce their energy consumption, we provide system upgrades that improve energy
                efficiency and indoor air quality, helping you save on bills while enhancing your comfort.
            </p>
            <br>
            <p data-aos="fade-up" data-aos-duration="800" data-aos-delay="150">
                Additionally, our team provides consultation and design services for custom HVAC solutions.
                Whether it's for a home renovation or a new commercial development, we ensure that your HVAC system is
                designed to meet your unique requirements.
            </p>
            <br>
            <p data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                With years of industry experience, advanced technology, and a commitment to customer satisfaction,
                AC Dynamics is your trusted partner for creating a comfortable, energy-efficient environment for any space.
            </p>
        </div>

        <br><br>



    </section>

    <section class="logo-section">
        <div class="heading" >
            <h1>Our Partners</h1>
        </div>
        <div class="logos">
            <div class="logos-slide">
                <img src="/static/images/home/panasonic-logo.png" alt="panasonic">
                <img src="/static/images/home/mitsubishi-electric-logo.png" alt="mitsubishi">
                <img src="/static/images/home/aroflow-logo.png" alt="aroflow">
                <img src="/static/images/home/ABC-logo.png" alt="ABC">
                <img src="/static/images/home/sitesafe-logo.png" alt="sitesafe">
            </div>

            <div class="logos-slide">
                <img src="/static/images/home/panasonic-logo.png" alt="">
                <img src="/static/images/home/mitsubishi-electric-logo.png" alt="">
                <img src="/static/images/home/aroflow-logo.png" alt="">
                <img src="/static/images/home/ABC-logo.png" alt="">
                <img src="/static/images/home/sitesafe-logo.png" alt="">
            </div>
        </div>
    </section>



    <div id="video-popup" class="hidden">
        <div class="outer-video-container">
            <div class="video-container">
            <span id="close-btn">&times;</span>
            <iframe id="embedded-video" width="560" height="315" src="https://www.youtube.com/embed/zuOUN-VSI40" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

            </div>
        </div>

    </div>

  <script src="/static/scripts/home.js"></script>

{% endblock %}