{% extends "base.html" %}
{% block content %}

    <section class="intro">
        <div class="intro-container">
            <div class="intro-text" >
                <h1 data-aos="fade-right" data-aos-duration="800" data-aos-delay="0">Heating,</h1>
                <h1 data-aos="fade-right" data-aos-duration="800" data-aos-delay="100">Ventilation &</h1>
                <h1 data-aos="fade-right" data-aos-duration="800" data-aos-delay="200">Air Conditioning</h1>
                <h1 class="highlight" data-aos="fade-right" data-aos-duration="800" data-aos-delay="300">Services</h1>
            </div>
            <div class="intro-button-container" data-aos="fade-in" data-aos-duration="1800" data-aos-delay="100">
                <button class="intro-button-1" id="find-out-more">
                <p>Find Out More</p>
                <i class="fa-solid fa-circle-chevron-right"></i>
            </button>
            <button class="intro-button" id="show-video">
                <p>Why Choose Us?</p>
                <i class="fa-solid fa-circle-play"></i>
            </button>
            </div>


        </div>
    </section>

    <section class="content-block">
        <div class="heading">
            <h1>What We Do</h1>
        </div>

        <div class ="content" >
            <p >
                Welcome to AC Dynamics. We are a family-owned business specializing in Heating, Ventilation,
                Air Conditioning (HVAC), and refrigeration services for the Commercial and Industrial sectors.
                Whether you need to maintain a comfortable workspace or ensure the efficient operation of a large
                multi-storey complex, our dedicated team provides reliable, energy-efficient solutions tailored to your
                specific needs.
            </p>
            <br>
            <p>
                We pride ourselves on offering comprehensive preventative maintenance services to keep your systems
                running smoothly all year round. By working closely with our clients, we design customized service
                plans that adapt to your evolving requirements. With AC Dynamics, you can trust that our expert engineers
                will be there to support you and ensure your equipment is always up to the task.
            </p>
        </div>

        <br><br>



    </section>

    <section class="logo-section">
        <div class="heading" >
            <h1>Our Partners</h1>
        </div>
        <div class="logos">
            <div class="logos-slide">
                <img src="/static/images/home/panasonic-logo.png" alt="panasonic">
                <img src="/static/images/home/mitsubishi-electric-logo.png" alt="mitsubishi">
                <img src="/static/images/home/aroflow-logo.png" alt="aroflow">
                <img src="/static/images/home/ABC-logo.png" alt="ABC">
                <img src="/static/images/home/sitesafe-logo.png" alt="sitesafe">
            </div>

            <div class="logos-slide">
                <img src="/static/images/home/panasonic-logo.png" alt="">
                <img src="/static/images/home/mitsubishi-electric-logo.png" alt="">
                <img src="/static/images/home/aroflow-logo.png" alt="">
                <img src="/static/images/home/ABC-logo.png" alt="">
                <img src="/static/images/home/sitesafe-logo.png" alt="">
            </div>
        </div>
    </section>



    <div id="video-popup" class="hidden">
        <div class="outer-video-container">
            <div class="video-container">
            <span id="close-btn">&times;</span>
            <iframe id="embedded-video" width="560" height="315" src="https://www.youtube.com/embed/zuOUN-VSI40" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

            </div>
        </div>

    </div>

  <script src="/static/scripts/home.js"></script>

{% endblock %}