{% extends "base.html" %}
{% block content %}

    <section class="intro">
        <div class="intro-container" style="display: inline-flex; flex-direction: column">
            <div class="intro-text" >
               <h1>Service and Maintenance </h1>
            </div>
            <br><br><br>
            <div class="intro-text" >
                <p style="font-weight: 500;">
                    Service and maintenance is our main focus. We believe in creating bespoke planned preventative
                    maintenance programs that enable us to provide the best possible service for our clients. We tailor
                    these programs to take into account the customers’ requirements for compliance, wants and needs.
                </p>
            </div>


        </div>
    </section>
     <section class="content-block" style="padding: 50px 0 25px 0">
        <div class="heading" >
            <h1 style="border-bottom: 5px solid #E35451; border-radius: 50px"></h1>
        </div>
     </section>
    <section class="content-block" style="padding: 0">

        <div class="content-item">
            <div class="image-container">
                <img src="/static/images/services/domestic-heatpump.png" alt="Service and Maintenance">
            </div>
            <div class="text-container">
                <h2>What do we do?</h2>
                <p>
                    We provide comprehensive maintenance services that include recording operational conditions and running
                    logs of equipment, rather than just performing basic visual inspections. This approach is crucial for ensuring that the equipment
                    operates within its designated parameters, thereby maintaining reliability and efficiency.
                </p>
            </div>
        </div>

        <div class="content-item mirrored">
            <div class="image-container">
                <img src="/static/images/services/heatpump_image_1.jpg" alt="Service and Maintenance">
            </div>
            <div class="text-container">
                <h2>Around the clock support:</h2>
                <p>
                    We safeguard your investments by providing 24/7 support to address any issues that arise.
                    Our team of highly skilled and trained professionals will keep your equipment and services running
                    at peak performance.
                </p>
            </div>
        </div>
        <br><br><br><br>
    </section>

    <script src="/static/scripts/services.js"></script>
{% endblock %}



