{% extends "base.html" %}
{% block content %}

    <section class="intro">
        <div class="intro-container" style="display: inline-flex; flex-direction: column">
            <div class="intro-text" >
               <h1>Service and Maintenance </h1>
            </div>
            <br><br><br>
            <div class="intro-text" >
                <p style="font-weight: 500;">
                    Service and maintenance is our main focus. We believe in creating bespoke planned preventative
                    maintenance programs that enable us to provide the best possible service for our clients. We tailor
                    these programs to take into account the customers’ requirements for compliance, wants and needs.
                </p>
            </div>


        </div>
    </section>

    <section class="content-block" style="padding: 0">

        <div class="heading"  style="padding-top: 1rem">
            <h1>Our Service And Maintenance</h1>
        </div>

        <div class="service-split-container"  style="display: flex; margin: 0 2rem">
            <div class="refrigeration-card" >
                <img class="refrigeration-card__image" src="/static/images/services/reapair.jpg" alt="refrigeration">
                <div class="refrigeration-card__icon">
                    <i class="fa-solid fa-toolbox"></i>
                </div>
                <div class="refrigeration-card__title" style="font-size: 0.8rem">Comprehensive HVAC Maintenance</div>
                <div class="refrigeration-card__text">
                    When HVAC upkeep is vital to your operations, you need a solution that's quick, dependable, and effortless.
                </div>
            </div>
            <div class="refrigeration-card" style="margin: 0 2rem">
                <img class="refrigeration-card__image" src="/static/images/services/design.jpg" alt="domestic">
                <div class="refrigeration-card__icon">
                    <i class="fa-solid fa-pen-to-square"></i>
                </div>
                <div class="refrigeration-card__title" style="font-size: 0.8rem">Custom HVAC Design & Consultation</div>
                <div class="refrigeration-card__text">
                    When you require tailored HVAC design and advice, you need a solution that's precise, expert, and seamless.
                </div>
            </div>
            <div class="refrigeration-card">
                <img class="refrigeration-card__image" src="/static/images/services/energy.jpg" alt="domestic">
                <div class="refrigeration-card__icon">
                    <i class="fa-solid fa-lightbulb"></i>
                </div>
                <div class="refrigeration-card__title" style="font-size: 0.9rem">Energy Efficiency Solutions</div>
                <div class="refrigeration-card__text">
                    When energy efficiency is key, we offer solutions that are smart, sustainable, and cost-effective.
                </div>
            </div>
            <div class="refrigeration-card" >
                <img class="refrigeration-card__image" src="/static/images/services/effecient.jpg" alt="refrigeration">
                <div class="refrigeration-card__icon">
                    <i class="fa-solid fa-gears"></i>
                </div>
                <div class="refrigeration-card__title" style="font-size: 0.9rem">Optimization & Enhancements</div>
                <div class="refrigeration-card__text">
                    Optimization and enhancing performance is critical, we offer solutions that are efficient and straightforward.
                </div>
            </div>
        </div>

        <div class="content-block" style="padding-top: 0">
            <div class="heading">
                <h1 style="font-size: 3rem">How We Tailor To You</h1>
            </div>
        </div>

        <div class ="content" style="margin-bottom: 2rem">
            <div class="checklist" style="padding: 0">
                <h1 style="text-align: center; width: auto" >
                    We are IQP registered, with a highly qualified team that brings years of experience to every project.
                    Our expertise spans a wide range of commercial and industrial buildings, ensuring top-quality service.
                    <br><br>
                    Our team has worked on various types of properties, including offices, resorts, hospitals, hotels,
                    military facilities, schools, workshops, garages, factories, and multi-storey office blocks.
                </h1>

            </div>
        </div>

        <div class="content-block" style="padding-top: 0">
            <div class="heading">
                <h1 style="font-size: 3rem">Why Choose Us?</h1>
            </div>
        </div>

        <div class ="content" style="margin-bottom: 2rem">
            <div class="checklist" style="padding: 0">
                <h1 style="text-align: center; width: auto" >
                    We take pride in offering exceptional service and a detailed, tailored maintenance plan designed to
                    meet your unique needs. We believe that the best solution is often improving your existing system rather
                    than installing new equipment. By evaluating the entire system, we can enhance its performance and extend its lifespan.
                    <br><br>
                    Our team collaborates closely with you to ensure the best return on investment, improving performance,
                    energy efficiency, and reducing operating costs.
                </h1>

            </div>
        </div>

                <div class="content-block" style="padding-top: 0">
            <div class="heading">
                <h1 style="font-size: 3rem">Why HVAC Maintenance Is Important</h1>
            </div>
        </div>

        <div class ="content" style="margin-bottom: 2rem">
            <div class="checklist" style="padding: 0 ">
                <h1 style="text-align: center; " >
                    Often, HVAC problems are ignored until it's too late. With our routine maintenance program, you’ll
                    experience increased efficiency, improved indoor air quality, and energy cost savings. Our team will
                    also identify any necessary repairs or replacements to help you avoid unexpected breakdowns.
                </h1>

            </div>
        </div>

        <div class="big-button">
            <a href="/contact">Contact us today to discuss how we can help you improve your HVAC system <i class="fa-solid fa-arrow-right"></i></a>
        </div>
    </section>
    <script src="/static/scripts/services.js"></script>

{% endblock %}



