{% extends "base.html" %}
{% block content %}

    <section class="intro">
        <div class="intro-container" style="display: inline-flex; flex-direction: column">
            <div class="intro-text" >
               <h1>Service and Maintenance </h1>
            </div>
            <br><br><br>
            <div class="intro-text" >
                <p style="font-weight: 500;">
                    Service and maintenance is our main focus. We believe in creating bespoke planned preventative
                    maintenance programs that enable us to provide the best possible service for our clients. We tailor
                    these programs to take into account the customers’ requirements for compliance, wants and needs.
                </p>
            </div>


        </div>
    </section>
     <section class="content-block" style="padding: 50px 0 25px 0">
        <div class="heading" >
            <h1 style="border-bottom: 5px solid #E35451; border-radius: 50px"></h1>
        </div>
     </section>
    <section class="content-block" style="padding: 0">

        <div class="content-item">
            <div class="image-container">
                <img src="/static/images/services/domestic-heatpump.png" alt="Service and Maintenance">
            </div>
            <div class="text-container">
                <h2>What do we do?</h2>
                <p>
                    We provide comprehensive maintenance services that include recording operational conditions and running
                    logs of equipment, rather than just performing basic visual inspections. This approach is crucial for ensuring that the equipment
                    operates within its designated parameters, thereby maintaining reliability and efficiency.
                </p>
            </div>
        </div>

        <div class="content-item mirrored">
            <div class="image-container">
                <img src="/static/images/services/heatpump_image_1.jpg" alt="Service and Maintenance">
            </div>
            <div class="text-container">
                <h2>Around the clock support:</h2>
                <p>
                    We safeguard your investments by providing 24/7 support to address any issues that arise.
                    Our team of highly skilled and trained professionals will keep your equipment and services running
                    at peak performance.
                </p>
            </div>
        </div>
        <div class="content-item">
            <div class="image-container">
                <canvas id="myChart" style="width:100%"></canvas>
            </div>
            <div class="text-container">
                <h2>Why is it important?</h2>
                <p>
                    Regular Maintenance has been proven to minimize equipment breakdowns while enhancing
                    operational efficiency. It also provides significant energy savings and extends the lifespan of your equipment,
                    ensuring sustained performance and reliability.
                </p>
            </div>
        </div>

                <div class="heading" >
            <h1 style="border-bottom: 5px solid #E35451; border-radius: 50px"></h1>
        </div>
        <div class="service-split-container"  style="display: flex; margin: 0rem 2rem">
            <div class="refrigeration-card">
                <img class="refrigeration-card__image" src="/static/images/services/domestic-heatpump.png" alt="domestic">
                <div class="refrigeration-card__icon">
                    <i class="fa-regular fa-snowflake"></i>
                </div>
                <div class="refrigeration-card__title">Refrigeration</div>
                <div class="refrigeration-card__text">
                    When refrigeration machinery and systems are a vital part of your business processes, you need a refrigeration solution that is robust, reliable...
                </div>
            </div>
            <div class="refrigeration-card">
                <img class="refrigeration-card__image" src="/static/images/services/domestic-heatpump.png" alt="domestic">
                <div class="refrigeration-card__icon">
                    <i class="fa-solid fa-fan"></i>
                </div>
                <div class="refrigeration-card__title">Air Conditioning</div>
                <div class="refrigeration-card__text">
                    When refrigeration machinery and systems are a vital part of your business processes, you need a refrigeration solution that is robust, reliable...
                </div>
            </div>
            <div class="refrigeration-card">
                <img class="refrigeration-card__image" src="/static/images/services/domestic-heatpump.png" alt="domestic">
                <div class="refrigeration-card__icon">
                    <i class="fa-solid fa-wind"></i>
                </div>
                <div class="refrigeration-card__title">Ventilation</div>
                <div class="refrigeration-card__text">
                    When refrigeration machinery and systems are a vital part of your business processes, you need a refrigeration solution that is robust, reliable...
                </div>
            </div>
            <div class="refrigeration-card">
                <img class="refrigeration-card__image" src="/static/images/services/domestic-heatpump.png" alt="domestic">
                <div class="refrigeration-card__icon">
                    <i class="fa-solid fa-fire"></i>
                </div>
                <div class="refrigeration-card__title">Heat Pumps</div>
                <div class="refrigeration-card__text">
                    When refrigeration machinery and systems are a vital part of your business processes, you need a refrigeration solution that is robust, reliable...
                </div>
            </div>
            <div class="refrigeration-card">
                <img class="refrigeration-card__image" src="/static/images/services/domestic-heatpump.png" alt="domestic">
                <div class="refrigeration-card__icon">
                    <i class="fa-solid fa-check"></i>
                </div>
                <div class="refrigeration-card__title">Close control</div>
                <div class="refrigeration-card__text">
                    When refrigeration machinery and systems are a vital part of your business processes, you need a refrigeration solution that is robust, reliable...
                </div>
            </div>
            <div class="refrigeration-card">
                <img class="refrigeration-card__image" src="/static/images/services/domestic-heatpump.png" alt="domestic">
                <div class="refrigeration-card__icon">
                    <i class="fa-solid fa-droplet"></i>
                </div>
                <div class="refrigeration-card__title">Water Systems</div>
                <div class="refrigeration-card__text">
                    When refrigeration machinery and systems are a vital part of your business processes, you need a refrigeration solution that is robust, reliable...
                </div>
            </div>
            <div class="refrigeration-card">
                <img class="refrigeration-card__image" src="/static/images/services/domestic-heatpump.png" alt="domestic">
                <div class="refrigeration-card__icon">
                    <i class="fa-solid fa-arrows-spin"></i>
                </div>
                <div class="refrigeration-card__title">Closed Loop Heating</div>
                <div class="refrigeration-card__text">
                    When refrigeration machinery and systems are a vital part of your business processes, you need a refrigeration solution that is robust, reliable...
                </div>
            </div>
        </div>
        <div class="heading">
            <h1>Why have a service contract?</h1>
        </div>

        <div class ="content" style="margin-bottom: 2rem">
            <div class="checklist" >
                <h1 style="text-align: left; width: auto" >
                    • They protect your business from liability. <i class="fa-solid fa-check"></i>
                    <br><br>
                    • They help you avid disputes. <i class="fa-solid fa-check"></i>
                    <br><br>
                    • Paid on time. <i class="fa-solid fa-check"></i>
                    <br><br>
                    • Clarity for everyone involved. <i class="fa-solid fa-check"></i>
                    <br><br>
                    • Call out cover. No additional charges. <i class="fa-solid fa-check"></i>
                    <br><br>
                    • Fixed reduced rates. <i class="fa-solid fa-check"></i>
                    <br><br>
                    • More comprehensive service. <i class="fa-solid fa-check"></i>
                </h1>
            </div>
        </div>



    </section>


    <script>
    const xValues = ["HVAC", "Lighting", "Equipment", "Other", "Lifts", "Domestic Hot Water"];
    const yValues = [39, 25, 22, 9, 4, 1 ];
    const barColors = [
        '#E35451', '#1F84C6', '#F27C72', '#63B0DA', '#f29d91', '#2AA399'
    ];

    new Chart("myChart", {
      type: "pie",
      data: {
        labels: xValues,
        datasets: [{
          backgroundColor: barColors,
          data: yValues
        }]
      },
      options: {
        title: {
          display: true,
          text: "Typical Energy Consumption Breakdown in an Office Building."
        }
      }
    });
    </script>
    <script src="/static/scripts/services.js"></script>

{% endblock %}



