{% extends "base.html" %}
{% block content %}

    <section class="intro">
        <div class="intro-container" style="display: inline-flex; flex-direction: column">
            <div class="intro-text" >
               <h1>Residential</h1>
            </div>
            <br><br><br>
            <div class="intro-text" >
                <p style="font-weight: 500;">

                </p>
            </div>


        </div>
    </section>



    <section class="content-block" style="padding: 0">

        <div class="heading"  style="padding-top: 1rem">
            <h1>Our Residential Services</h1>
        </div>

        <div class="service-split-container"  style="display: flex; margin: 0 2rem">
            <div class="refrigeration-card" >
                <img class="refrigeration-card__image" src="/static/images/services/reapair.jpg" alt="refrigeration">
                <div class="refrigeration-card__icon">
                    <i class="fa-solid fa-file-contract"></i>
                </div>
                <div class="refrigeration-card__title">Warranty Repairs</div>
                <div class="refrigeration-card__text">
                    When warranty repairs are essential to your operations, you need a solution that is fast, reliable, and hassle-free.
                </div>
            </div>
            <div class="refrigeration-card" style="margin: 0 2rem">
                <img class="refrigeration-card__image" src="/static/images/services/domestic-heatpump.png" alt="domestic">
                <div class="refrigeration-card__icon">
                    <i class="fa-solid fa-screwdriver-wrench"></i>
                </div>
                <div class="refrigeration-card__title">Breakdowns</div>
                <div class="refrigeration-card__text">
                    When breakdowns disrupt your operations, we offer fast, reliable, and effective solutions.
                </div>
            </div>
            <div class="refrigeration-card">
                <img class="refrigeration-card__image" src="/static/images/services/underfloor-heating.jpg" alt="domestic">
                <div class="refrigeration-card__icon">
                    <i class="fa-solid fa-temperature-half"></i>
                </div>
                <div class="refrigeration-card__title" style="font-size: 1rem">Underfloor Heating Systems</div>
                <div class="refrigeration-card__text">
                    When underfloor heating systems are essential to your comfort, we offer fast, reliable, and hassle-free solutions.
                </div>
            </div>
            <div class="refrigeration-card" >
                <img class="refrigeration-card__image" src="/static/images/services/pool-home.jpg" alt="refrigeration">
                <div class="refrigeration-card__icon">
                    <i class="fa-solid fa-water"></i>
                </div>
                <div class="refrigeration-card__title" style="font-size: 0.9rem">Swimming Pool Heat Pumps</div>
                <div class="refrigeration-card__text">
                    We offer a quick, dependable, and stress-free solution when your swimming pool heat pump needs attention.
                </div>
            </div>
            <div class="refrigeration-card" style="margin: 0 2rem">
                <img class="refrigeration-card__image" src="/static/images/services/brands.jpg" alt="domestic">
                <div class="refrigeration-card__icon">
                    <i class="fa-solid fa-copyright"></i>
                </div>
                <div class="refrigeration-card__title" style="font-size: 0.9rem">Install & Service for All Brands</div>
                <div class="refrigeration-card__text">
                    We install and service all brands, including Panasonic, Mitsubishi, Fujitsu, and Daikin, with reliable expertise.
                </div>
            </div>
            <div class="refrigeration-card">
                <img class="refrigeration-card__image" src="/static/images/services/ventilation-home.jpg" alt="domestic">
                <div class="refrigeration-card__icon">
                    <i class="fa-solid fa-wind"></i>
                </div>
                <div class="refrigeration-card__title" style="font-size: 1rem">Ventilation & Heat Recovery</div>
                <div class="refrigeration-card__text">
                    We provide expert ventilation and heat recovery solutions for a healthier, more efficient space.
                </div>
            </div>



        <div class="heading" style="width: 100%">
            <h1>Why Choose Heat Pumps?</h1>
        </div>

        <div class ="content" style="margin-bottom: 2rem">
            <div class="checklist" >
                <h1 style="text-align: left; width: auto" >
                    • More Energy Efficient than Electric or Gas. <i class="fa-solid fa-check"></i>
                    <br><br>
                    • Cost Savings on Electric Bills. <i class="fa-solid fa-check"></i>
                    <br><br>
                    • Eco-friendly and Sustainable. <i class="fa-solid fa-check"></i>
                    <br><br>
                    • Better Indoor Air Quality. <i class="fa-solid fa-check"></i>
                    <br><br>
                    • Reliable Year-Round Comfort. <i class="fa-solid fa-check"></i>
                </h1>
            </div>
        </div>
        </div>

        <div class="big-button">
            <a href="/calculator">Find the Right Heat Pump Size<i class="fa-solid fa-arrow-right"></i></a>
        </div>
    </section>


    <script src="/static/scripts/services.js"></script>

{% endblock %}



