{% extends "base.html" %}
{% block content %}

    <section class="intro">
        <div class="intro-container" style="display: inline-flex; flex-direction: column">
            <div class="intro-text" >
               <h1>Residential</h1>
            </div>
            <br><br><br>
            <div class="intro-text" >
                <p style="font-weight: 500;">

                </p>
            </div>


        </div>
    </section>

     <section class="content-block" style="padding: 50px 0 25px 0">
        <div class="heading" >
            <h1 style="border-bottom: 5px solid #E35451; border-radius: 50px"></h1>
        </div>
     </section>

    <section class="content-block" style="padding: 0">

        <div class="service-split-container"  style="display: flex; margin: 0 2rem">
            <div class="refrigeration-card" >
                <img class="refrigeration-card__image" src="/static/images/services/refrigeration.jpg" alt="refrigeration">
                <div class="refrigeration-card__icon">
                    <i class="fa-solid fa-file-contract"></i>
                </div>
                <div class="refrigeration-card__title">Warranty Repairs</div>
                <div class="refrigeration-card__text">
                    When refrigeration machinery and systems are a vital part of your business processes, you need a refrigeration solution that is robust, reliable...
                </div>
            </div>
            <div class="refrigeration-card" style="margin: 0 2rem">
                <img class="refrigeration-card__image" src="/static/images/services/domestic-heatpump.png" alt="domestic">
                <div class="refrigeration-card__icon">
                    <i class="fa-solid fa-screwdriver-wrench"></i>
                </div>
                <div class="refrigeration-card__title">Breakdowns</div>
                <div class="refrigeration-card__text">
                    When refrigeration machinery and systems are a vital part of your business processes, you need a refrigeration solution that is robust, reliable...
                </div>
            </div>
            <div class="refrigeration-card">
                <img class="refrigeration-card__image" src="/static/images/services/HVAC-unit.jpg" alt="domestic">
                <div class="refrigeration-card__icon">
                    <i class="fa-solid fa-temperature-half"></i>
                </div>
                <div class="refrigeration-card__title" style="font-size: 1rem">Underfloor Heating Systems</div>
                <div class="refrigeration-card__text">
                    When refrigeration machinery and systems are a vital part of your business processes, you need a refrigeration solution that is robust, reliable...
                </div>
            </div>



        <div class="heading">
            <h1>Why have a service contract?</h1>
        </div>

        <div class ="content" style="margin-bottom: 2rem">
            <div class="checklist" >
                <h1 style="text-align: left; width: auto" >
                    • They protect your business from liability. <i class="fa-solid fa-check"></i>
                    <br><br>
                    • They help you avid disputes. <i class="fa-solid fa-check"></i>
                    <br><br>
                    • Paid on time. <i class="fa-solid fa-check"></i>
                    <br><br>
                    • Clarity for everyone involved. <i class="fa-solid fa-check"></i>
                    <br><br>
                    • Call out cover. No additional charges. <i class="fa-solid fa-check"></i>
                    <br><br>
                    • Fixed reduced rates. <i class="fa-solid fa-check"></i>
                    <br><br>
                    • More comprehensive service. <i class="fa-solid fa-check"></i>
                </h1>
            </div>
        </div>
        </div>
    </section>


    <script src="/static/scripts/services.js"></script>

{% endblock %}



