{% extends "base.html" %}
{% block content %}
    <section class="intro">
        <div class="intro-container" style="display: inline-flex; flex-direction: column">
            <div class="intro-text" >
               <h1>Services</h1>
            </div>
            <br><br><br>
            <div class="intro-text" >
                <p style="font-weight: 500;">
                    Our services are designed to keep your spaces comfortable, efficient, and reliable year-round.
                    From professional installation to routine maintenance and swift repairs, we ensure every system
                    operates at peak performance.
                </p>
            </div>


        </div>
    </section>

     <section class="content-block" style="padding: 50px 0 25px 0">
        <div class="heading">
            <h1>What We Do</h1>
        </div>
     </section>



    <section class="content-block" style="padding-top: 0">

        <div class="content-no-padding">
            <div class="service-split-container">

                <div class="curved-container" >
                    <img src="/static/images/services/industrial-heatpump-resize.png" alt="domestic">
                    <h2>Commercial</h2>
                    <p>We offer extensive service and maintenance for all heating, ventilation chiller and air conditioning systems,
                        with 24/7 support for critical assets in every sector.</p>
                    <a href="/commercial" id="commercial-pump" >Find out more <i class="fa-solid fa-arrow-right"></i></a>
                </div>

                <div class="curved-container">
                    <img src="/static/images/services/domestic-heatpump.png" alt="domestic">
                    <h2>Residential</h2>
                    <p>As specialists in heating, ventilation, and air conditioning, we can help service your home to
                        ensure comfort and piece of mind.
                    </p>
                    <a href="/residential" id="industrial-pump" >Find out more <i class="fa-solid fa-arrow-right"></i></a>
                </div>

                <div class="curved-container">
                    <img src="/static/images/services/reapair.jpg" alt="domestic">
                    <h2>Maintenance</h2>
                    <p>Whether it's routine maintenance for a single office heat pump or repair works of a large commercial
                        refrigeration plant, our team is ready to keep your equipment in peak condition</p>
                    <a href="/maintenance" id="service-maintenance" >Find out more <i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>
        </div>




        <div class="content-item">
            <div class="image-container" style="box-shadow: none">
                <img src="/static/images/services/ACDynamics.jpg" alt="Service and Maintenance">
            </div>
            <div class="text-container">
                <h2>What do we do?</h2>
                <p>
                    We provide comprehensive maintenance services that include recording operational conditions and running
                    logs of equipment, rather than just performing basic visual inspections. This approach is crucial for ensuring that the equipment
                    operates within its designated parameters, thereby maintaining reliability and efficiency.
                </p>
            </div>
        </div>

        <div class="content-item mirrored">
            <div class="image-container">
                <img src="/static/images/services/clockv3.jpg" alt="Service and Maintenance">
            </div>
            <div class="text-container">
                <h2>Around the clock support:</h2>
                <p>
                    We safeguard your investments by providing 24/7 support to address any issues that arise.
                    Our team of highly skilled and trained professionals will keep your equipment and services running
                    at peak performance.
                </p>
            </div>
        </div>
        <div class="content-item" style="margin-bottom: 2rem">
            <div class="image-container" style="padding: 0; box-shadow: none">
                <canvas id="myChart" style="width:100%; height: 100%"></canvas>
            </div>
            <div class="text-container">
                <h2>Why is it important?</h2>
                <p>
                    Regular Maintenance has been proven to minimize equipment breakdowns while enhancing
                    operational efficiency. It also provides significant energy savings and extends the lifespan of your equipment,
                    ensuring sustained performance and reliability.
                </p>
            </div>
        </div>



        <div class="heading">
            <h1>Our Expertise</h1>
        </div>
        <div class="service-split-container"  style="display: flex; margin: 0rem 2rem">
            <div class="refrigeration-card">
                <img class="refrigeration-card__image" src="/static/images/services/refrigeration.jpg" alt="refrigeration">
                <div class="refrigeration-card__icon">
                    <i class="fa-regular fa-snowflake"></i>
                </div>
                <div class="refrigeration-card__title">Refrigeration</div>
                <div class="refrigeration-card__text">
                    We offer reliable refrigeration service and maintenance for commercial spaces, ensuring optimal performance and efficiency.
                </div>
            </div>
            <div class="refrigeration-card">
                <img class="refrigeration-card__image" src="/static/images/services/domestic-heatpump.png" alt="domestic">
                <div class="refrigeration-card__icon">
                    <i class="fa-solid fa-fan"></i>
                </div>
                <div class="refrigeration-card__title">Air Conditioning</div>
                <div class="refrigeration-card__text">
                    We provide expert air conditioning service and maintenance, ensuring consistent comfort and efficiency.
                </div>
            </div>
            <div class="refrigeration-card">
                <img class="refrigeration-card__image" src="/static/images/services/HVAC-unit.jpg" alt="domestic">
                <div class="refrigeration-card__icon">
                    <i class="fa-solid fa-wind"></i>
                </div>
                <div class="refrigeration-card__title">Ventilation</div>
                <div class="refrigeration-card__text">
                    We offer professional ventilation service and maintenance, optimizing air quality and system performance.
                </div>
            </div>
            <div class="refrigeration-card">
                <img class="refrigeration-card__image" src="/static/images/services/commercial-heatpump.jpg" alt="domestic">
                <div class="refrigeration-card__icon">
                    <i class="fa-solid fa-fire"></i>
                </div>
                <div class="refrigeration-card__title">Heat Pumps</div>
                <div class="refrigeration-card__text">
                    We provide you with expert heat pump service and maintenance, ensuring reliable performance and energy efficiency.
                </div>
            </div>
            <div class="refrigeration-card">
                <img class="refrigeration-card__image" src="/static/images/services/closed-control.jpg" alt="domestic">
                <div class="refrigeration-card__icon">
                    <i class="fa-solid fa-check"></i>
                </div>
                <div class="refrigeration-card__title">Close control</div>
                <div class="refrigeration-card__text">
                    We offer specialized close control service and maintenance, ensuring precise temperature and humidity management.
                </div>
            </div>
            <div class="refrigeration-card">
                <img class="refrigeration-card__image" src="/static/images/services/water-system.jpg" alt="domestic">
                <div class="refrigeration-card__icon">
                    <i class="fa-solid fa-droplet"></i>
                </div>
                <div class="refrigeration-card__title">Water Systems</div>
                <div class="refrigeration-card__text">
                    We provide you with reliable service and maintenance for water systems, ensuring consistent performance and efficiency.
                </div>
            </div>
            <div class="refrigeration-card">
                <img class="refrigeration-card__image" src="/static/images/services/closed-loop-heating.jpg" alt="domestic">
                <div class="refrigeration-card__icon">
                    <i class="fa-solid fa-arrows-spin"></i>
                </div>
                <div class="refrigeration-card__title">Closed Loop Heating</div>
                <div class="refrigeration-card__text">
                    We offer expert service and maintenance for closed loop heating systems, ensuring optimal efficiency and reliability
                </div>
            </div>
        </div>
        <div class="heading">
            <h1>Why have a service contract?</h1>
        </div>

        <div class ="content" style="margin-bottom: 2rem">
            <div class="checklist" >
                <h1 style="text-align: left; width: auto" >
                    • They protect your business from liability. <i class="fa-solid fa-check"></i>
                    <br><br>
                    • They help you avid disputes. <i class="fa-solid fa-check"></i>
                    <br><br>
                    • Paid on time. <i class="fa-solid fa-check"></i>
                    <br><br>
                    • Clarity for everyone involved. <i class="fa-solid fa-check"></i>
                    <br><br>
                    • Call out cover. No additional charges. <i class="fa-solid fa-check"></i>
                    <br><br>
                    • Fixed reduced rates. <i class="fa-solid fa-check"></i>
                    <br><br>
                    • More comprehensive service. <i class="fa-solid fa-check"></i>
                </h1>
            </div>
        </div>
    </section>






    <script>
    const xValues = ["HVAC", "Lighting", "Equipment", "Other", "Lifts", "Domestic Hot Water"];
    const yValues = [39, 25, 22, 9, 4, 1 ];
    const barColors = [
        '#E35451', '#1F84C6', '#F27C72', '#63B0DA', '#f29d91', '#2AA399'
    ];

    new Chart("myChart", {
      type: "pie",
      data: {
        labels: xValues,
        datasets: [{
          backgroundColor: barColors,
          data: yValues
        }]
      },
      options: {
        title: {
          display: true,
          text: "Typical Energy Consumption Breakdown in an Office Building."
        }
      }
    });
    </script>

    </section>



<!-- legacy calculator position -->
<!--    <section class="content-block">-->
<!--        <div class="heading">-->
<!--            <h1>What's right for me?</h1>-->
<!--        </div>-->
<!--        <p>What do you want to heat?</p>-->
<!--        <div class="calculator-container">-->
<!--            <form class="calculator-room-select" id="calculator-room-select">-->
<!--                <div class="button-container">-->
<!--                    <button type="button" id="single-room" class="button-unselected">Single Room</button>-->
<!--                    <button type="button" id="whole-house" class="button-unselected">Whole House</button>-->

<!--                </div>-->

<!--            </form>-->
<!--            <div class="rating-container" id="rating-circle">-->
<!--                <div class="rating-outer">-->
<!--                    <div class="rating-inner">-->
<!--                        <p id="rating-text">KW: 19.1</p>-->
<!--                    </div>-->

<!--                </div>-->
<!--            </div>-->


<!--            <p id="error" class="error"></p>-->

<!--            &lt;!&ndash; Single Room Form &ndash;&gt;-->
<!--            <form class="calculator-single" id="calculator-single">-->
<!--                <input type="number" id="width" name="width" step="0.1" placeholder="Room Width (m)">-->
<!--                <input type="number" id="length" name="length" step="0.1" placeholder="Room Length (m)">-->
<!--                <input type="number" id="height" name="height" step="0.1" placeholder="Room Height (m)">-->

<!--                <select id="outdoor-temp" name="outdoor-temp">-->
<!--                    <option value="" disabled selected>Select Region</option>-->
<!--                    <option value="4.5">Auckland</option>-->
<!--                    <option value="0.5">Christchurch</option>-->
<!--                    <option value="2.7">Wellington</option>-->
<!--                    <option value="-2.1">Queenstown</option>-->
<!--                    <option value="1.8">Dunedin</option>-->
<!--                    <option value="0.0">Hamilton</option>-->
<!--                    <option value="-1.6">Rotorua</option>-->
<!--                    <option value="-3.1">Taupo</option>-->
<!--                    <option value="-2.3">Invercargill</option>-->
<!--                    <option value="0.4">Napier</option>-->
<!--                </select>-->

<!--                <select id="insulation-single" name="insulation-single">-->
<!--                    <option value="" disabled selected>Insulation Level</option>-->
<!--                    <option value="1.8">Poorly Insulated</option>-->
<!--                    <option value="1.3">Partially Insulated</option>-->
<!--                    <option value="0.9">Fully Insulated</option>-->
<!--                </select>-->

<!--                <input type="hidden" name="form_type" value="single-room">-->
<!--                <button type="button" id="submit-single" onclick="submit_single()">Calculate Heating</button>-->
<!--            </form>-->

<!--            &lt;!&ndash; Whole House Form &ndash;&gt;-->
<!--            <form class="calculator-house" id="calculator-house">-->
<!--                <input type="number" id="house-area" name="house-area" step="0.1" placeholder="House Area (m²)">-->
<!--                <input type="number" id="house-height" name="house-height" step="0.1" placeholder="House Height (m)">-->

<!--                <select id="outdoor-temp-house" name="outdoor-temp-house">-->
<!--                    <option value="" disabled selected>Select Region</option>-->
<!--                    <option value="4.5">Auckland</option>-->
<!--                    <option value="0.5">Christchurch</option>-->
<!--                    <option value="2.7">Wellington</option>-->
<!--                    <option value="-2.1">Queenstown</option>-->
<!--                    <option value="1.8">Dunedin</option>-->
<!--                    <option value="0.0">Hamilton</option>-->
<!--                    <option value="-1.6">Rotorua</option>-->
<!--                    <option value="-3.1">Taupo</option>-->
<!--                    <option value="-2.3">Invercargill</option>-->
<!--                    <option value="0.4">Napier</option>-->
<!--                </select>-->

<!--                <select id="insulation-house" name="insulation-house">-->
<!--                    <option value="" disabled selected>Insulation Level</option>-->
<!--                    <option value="1.8">Poorly Insulated</option>-->
<!--                    <option value="1.3">Partially Insulated</option>-->
<!--                    <option value="0.9">Fully Insulated</option>-->
<!--                </select>-->

<!--                <input type="hidden" name="form_type" value="whole-house">-->
<!--                <button type="button" id="submit-house" onclick="submit_house()">Calculate Heating</button>-->
<!--            </form>-->
<!--        </div>-->

<!--    </section>-->



    <script src="/static/scripts/services.js"></script>
{% endblock %}



